<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static',filename='styles/styles.css')}}>
    <title>Contents</title>
</head>


<script>
var currentDate = new Date();
var day = currentDate.getDay();
var month = currentDate.getMonth();
var year = currentDate.getYear();
var fullDate = day + "/" + month + "/" + year;
</script>


<body>
    <table style="width:100%">
        <tr>
            <th>Date:</th>
            <th>Biceps:</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/add" method="post">
    <h2>Enter new circumference</h2>
    <input type="text" name='item_biceps'>
    <input type="submit" value="add">
    </form>
</body>

</html>