<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tables</title>
</head>

<body>
    </form>
    <form action="/add_full_measurement" method="post">
        <h2>Enter the current week you're in</h2>
        <p> Week: 
            <input type="text" name='item_week'> 
        </p>
<!-- Measure Thigh -->
        <h2>Enter circumference of your Thigh</h2>
        <p>
            Measurement: 
            <input type="text" name='item_thigh'>
        </p>
<!-- Measure Biceps -->
        <h2>Enter circumference of your Biceps</h2>
        <p>
            Measurement: 
            <input type="text" name='item_biceps'>
        </p>
    <input type="submit" value="add">
</form>
</body>
</html>
