<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Draw all charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawAverage);
        google.charts.setOnLoadCallback(drawBiceps);
        google.charts.setOnLoadCallback(drawCalve);
        google.charts.setOnLoadCallback(drawThigh);
        google.charts.setOnLoadCallback(drawLowerArm);


        // DRAW AVERAGE ------------------------------------------------------------------------------------------------------------

        function drawAverage() {
            //adding values
            var data = google.visualization.arrayToDataTable(
                {{ data|tojson }} 
            );
        
            //defining table
            var options = {
                title: 'AVG development',
                hAxis: {
                    title: 'Week',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                vAxis: {
                    title: 'Average Measurements (cm)',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                legend: { position: 'bottom' },
                chartArea: {
                    backgroundColor: {
                        stroke: '#000000',
                        strokeWidth: 2,
                        fill: 'white',
                        fillOpacity: 1
                    },
                },
                backgroundColor: {
                    fill: 'bright_blue',
                    fillOpacity: 0
                },
            };
    
            var chart = new google.visualization.LineChart(document.getElementById('Average_Chart'));
            chart.draw(data, options);
            
        };



        // DRAW BICEPS ------------------------------------------------------------------------------------------------------------

        function drawBiceps() {
            //adding values
            var data1 = google.visualization.arrayToDataTable(
                {{ data1|tojson }} 
            );
            //defining table
            var options = {
                title: 'AVG development',
                hAxis: {
                    title: 'Week',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                vAxis: {
                    title: 'Biceps Measurements (cm)',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                legend: { 
                    position: 'bottom' 
                },
                chartArea: {
                    backgroundColor: {
                        stroke: '#000000',
                        strokeWidth: 2,
                        fill: 'white',
                        fillOpacity: 1
                    },
                },
                backgroundColor: {
                    fill: 'bright_blue',
                    fillOpacity: 0
                },
            };

            var chart1 = new google.visualization.LineChart(document.getElementById('Biceps_Chart'));
            chart1.draw(data1,options);
        }




        // DRAW THIGH ------------------------------------------------------------------------------------------------------------

        function drawThigh() {
            //adding values
            var data1 = google.visualization.arrayToDataTable(
                {{ data2|tojson }} 
            );
            //defining table
            var options = {
                title: 'Thigh development',
                hAxis: {
                    title: 'Week',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                vAxis: {
                    title: 'Thigh Measurements (cm)',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                legend: { 
                    position: 'bottom' 
                },
                chartArea: {
                    backgroundColor: {
                        stroke: '#000000',
                        strokeWidth: 2,
                        fill: 'white',
                        fillOpacity: 1
                    },
                },
                backgroundColor: {
                    fill: 'bright_blue',
                    fillOpacity: 0
                },
            };

            var chart1 = new google.visualization.LineChart(document.getElementById('Thigh_Chart'));
            chart1.draw(data1,options);
        }




        // DRAW LOWER-ARM ------------------------------------------------------------------------------------------------------------

        function drawLowerArm() {
            //adding values
            var data1 = google.visualization.arrayToDataTable(
                {{ data3|tojson }}
            );
            //defining table
            var options = {
                title: 'LowerArm development',
                hAxis: {
                    title: 'Week',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                vAxis: {
                    title: 'LowerArm Measurements (cm)',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                legend: { 
                    position: 'bottom' 
                },
                chartArea: {
                    backgroundColor: {
                        stroke: '#000000',
                        strokeWidth: 2,
                        fill: 'white',
                        fillOpacity: 1
                    },
                },
                backgroundColor: {
                    fill: 'bright_blue',
                    fillOpacity: 0
                },
            };

            var chart1 = new google.visualization.LineChart(document.getElementById('LowerArm_Chart'));
            chart1.draw(data1,options);
        }



        // DRAW CALVE ------------------------------------------------------------------------------------------------------------

        function drawCalve() {
            //adding values
            var data1 = google.visualization.arrayToDataTable(
                {{ data4|tojson }} 
            );
            //defining table
            var options = {
                title: 'Calve development',
                hAxis: {
                    title: 'Week',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                vAxis: {
                    title: 'Calve Measurements (cm)',
                    logScale: false,
                    gridlines: {color: '#09fffd'}
                },
                legend: { 
                    position: 'bottom' 
                },
                chartArea: {
                    backgroundColor: {
                        stroke: '#000000',
                        strokeWidth: 2,
                        fill: 'white',
                        fillOpacity: 1
                    },
                },
                backgroundColor: {
                    fill: 'bright_blue',
                    fillOpacity: 0
                },
            };

            var chart1 = new google.visualization.LineChart(document.getElementById('Calve_Chart'));
            chart1.draw(data1,options);
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static',filename='styles/styles.css')}}>
    <title>Home</title>
</head>

<body>
    <!-- BackgroundImage -->
    <div id='image'>
        <img src="../static/img/gym-test.jpg">
    </div>

    <!-- SideBar -->
    <div id='sidebar'>
        <ul>
            <li class='logo' style='height: 101px'>
                <!-- <a href ='/go_to_homepage'> -->
                <a href ='#Home'>
                    <img src="../static/img/YouLogo.PNG">
                    <img class="imgoverlay" src="../static/img/YouLogo-hover.png">
                </a>
            </li>
        </ul>
        <ul>
            <ol>Shop:</ol>
        </ul>
        <ul>
            <a href='#MeasurementDevice'><li>Measurement Device</li></a>
        </ul>
        <ul>
            <ol>Development-Graphs:</ol>
        </ul>
        <ul>
            <a href='#BodyAverage'><li>BodyAverage</li></a>
            <a href='#Categories'><li>Categories</li></a>
        </ul>
        <ul>
            <ol>Add/Edit/Delete Records:</ol>
        </ul>
        <ul>
            <a href='#Tables'><li>Tables</li></a>
        </ul>
    </div>
    



    <!-- SECTIONS -->
    <div class="container">






        <!-- HERE IS          HOME          IS HERE -->
        <section id='Home'>
            <body>
                <!-- Arrow -->
                <div class="hide-when_hover_over">
                        <p><a href=#MeasurementDevice></a></p>
                </div>
            </body>
        </section>





        <!-- HERE IS     MEASUREMENTDEVICE     IS HERE -->
        <section id='MeasurementDevice'>
            <body>
                <h1>Buy the ultimate Measuring Device, easy to use with one hand!!!</h1>
            </body>
        </section>





        <!-- HERE IS        BODYAVERAGE        IS HERE -->
        <section id='BodyAverage'>
            <body>
                <div id="Average_Chart" style='width: 100%; height: 100%;'></div>  <!-- WORK ON -->
            </body>
        </section>





        <!-- HERE IS         CATEGORIES        IS HERE -->
        <section id='Categories'>
            <div class="DropChart">
                <ul>
                <li class="a"><a onclick="toggle_chart('.chartdrop1')">Biceps</a></li>
                    <li class="b"><a onclick="toggle_chart('.chartdrop2')">Thigh</a></li>
                    <li class="c"><a onclick="toggle_chart('.chartdrop3')">Lower-arm</a></li>
                    <li class="d"><a onclick="toggle_chart('.chartdrop4')">Calve</a></li>
                </ul>
            </div>
            <div class="chartdrop chartdrop1">
                <body>
                    <div id="Biceps_Chart" style='width: 100%; height: 100%;'></div>  
                </body>
            </div>
            <div class="chartdrop chartdrop2">
                <body>
                    <div id="Thigh_Chart" style='width: 100%; height: 100%;'></div>  
                </body>
            </div>
            <div class="chartdrop chartdrop3">
                <body>
                    <div id="LowerArm_Chart" style='width: 100%; height: 100%;'></div>  
                </body>
            </div>
            <div class="chartdrop chartdrop4">
                <body>
                    <div id="Calve_Chart" style='width: 100%; height: 100%;'></div>  
                </body>
            </div>
            <script>
                function toggle_chart(target) {
                    
                    document.querySelectorAll('.chartdrop').forEach(element => {
                        element.classList.remove('show');
                    });
                    document.querySelector(target).classList.add('show');
                    if (target == '.chartdrop1') drawBiceps();
                    if (target == '.chartdrop2') drawThigh();
                    if (target == '.chartdrop3') drawLowerArm();
                    if (target == '.chartdrop4') drawCalve();
                }
            </script>
        </section>





        <!-- HERE IS          TABLES         IS HERE -->
        <section id='Tables'>
            <body>
                <form action="/go_to_table_biceps" method="post">
                    <input type="submit" value="Biceps">
                </form>
                <form action="/go_to_table_thigh" method="post">
                    <input type="submit" value="Thigh">
                </form>
                <form action="/go_to_table_uarm" method="post">
                    <input type="submit" value="Under-arm">
                </form>
                <form action="/go_to_table_calve" method="post">
                    <input type="submit" value="Calve">
                </form>
            </body>
        </section>
    </div>
</body>



</html>