<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static',filename='styles/styles.css')}}>
    <title>Home</title>
</head>

<body>
    <!-- BackgroundImage -->
    <div id='image'>
        <img src="../static/img/gym-test.jpg">
    </div>

    <!-- SideBar -->
    <div id='sidebar'>
        <ul>
            <li class='logo' style='height: 101px'>
                <!-- <a href ='/go_to_homepage'> -->
                <a href ='#Home'>
                    <img src="../static/img/YouLogo.PNG">
                    <img class="imgoverlay" src="../static/img/YouLogo-hover.png">
                </a>
            </li>
        </ul>
        <ul>
            <ol>Shop:</ol>
        </ul>
        <ul>
            <li><a href='#MeasurementDevice'>Measurement Device</a></li>
        </ul>
        <ul>
            <ol>Development-Graphs:</ol>
        </ul>
        <ul>
            <li><a href='#BodyAverage'>BodyAverage</a></li>
            <li><a href='#Categories'>Categories</a></li>
        </ul>
        <ul>
            <ol>Add/Edit/Delete Records:</ol>
        </ul>
        <ul>
            <li><a href='#Tables'>Tables</a></li>
        </ul>
    </div>
    



    <!-- SECTIONS -->
    <div class="container">
            <section id='Home'>
                <body>
                    <!-- Arrow -->
                    <div class="hide-when_hover_over">
                            <p><a href=#MeasurementDevice></a></p>
                    </div>
                </body>
            </section>
        <section id='MeasurementDevice'>
            <body>
                <h1>Buy the ultimate Measuring Device, easy to use with one hand!!!</h1>
            </body>
        </section>
        <section id='BodyAverage'>
            <body>
                <form action="/go_to_full_measurement" method="post">
                    <input type="submit" value="BodyAverage">
                </form>
            </body>
        </section>
        <section id='Categories'>
            <body>
                <form action="/go_to_graph_biceps" method="post">
                    <input type="submit" value="Biceps">
                </form>
                <form action="/go_to_graph_thigh" method="post">
                    <input type="submit" value="Thigh">
                </form>
            </body>
        </section>
        <section id='Tables'>
            
        </section>
    </div>
</body>



</html>