<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static',filename='styles/styles.css')}}>
    <title>loginn</title>
</head>


<body>
    <!-- sidebar -->
    <div id='sidebar'>
        <ul>
            <li class='logo' style='height: 101px'>
                <!-- <a href ='/go_to_homepage'> -->
                <a href ='/go_to_homepage'>
                    <img src="../static/img/YouLogo.PNG">
                    <img class="imgoverlay" src="../static/img/YouLogo-hover.png">
                </a>
            </li>
        </ul>
        <ul>
            <ol>Shop:</ol>
        </ul>
        <ul>
            <li><a href='/go_to_homepage#MeasurementDevice'>Measurement Device</a></li>
        </ul>
        <ul>
            <ol>Development-Graphs:</ol>
        </ul>
        <ul>
            <li><a href='/go_to_homepage#BodyAverage'>BodyAverage</a></li>
            <li><a href='/go_to_homepage#Categories'>Categories</a></li>
        </ul>
        <ul>
            <ol>Add/Edit/Delete Records:</ol>
        </ul>
        <ul>
            <li><a href='/go_to_homepage#Tables'>Tables</a></li>
        </ul>
    </div>
    <!-- /sidebar -->

    <div class="container">
        <div class="register_page">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}<a onclick="window.location.reload()"> Try again</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            <p>Login here:</p>
            <form action="/loginn" method="post">
                <pre><input type="text" name='item_username' placeholder="Username (Heinz Franz)"></pre>
                <pre><input type="text" name='item_password' placeholder="Password (8 digit code{1234Abcd})"></pre> 
                <pre><p><input type="submit" value="Login" onclick="UserIdentifier()"></p></pre>
                <pre><p> </p></pre>
                <pre><p>Or register <a href="/login/register">here</a> if you don't have an account yet</p></pre>
                <div id="user_identifier"></div>
            </form>
        </div>
    </div>
