<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static',filename='styles/styles.css')}}>
    <title>register</title>
</head>


<body>
    <!-- sidebar -->
    <div id='sidebar'>
        <ul>
            <li class='logo' style='height: 101px'>
                <!-- <a href ='/go_to_homepage'> -->
                <a href ='/go_to_homepage'>
                    <img src="../static/img/YouLogo.PNG">
                    <img class="imgoverlay" src="../static/img/YouLogo-hover.png">
                </a>
            </li>
        </ul>
        <ul>
            <ol>Shop:</ol>
        </ul>
        <ul>
            <li><a href='/go_to_homepage#MeasurementDevice'>Measurement Device</a></li>
        </ul>
        <ul>
            <ol>Development-Graphs:</ol>
        </ul>
        <ul>
            <li><a href='/go_to_homepage#BodyAverage'>BodyAverage</a></li>
            <li><a href='/go_to_homepage#Categories'>Categories</a></li>
        </ul>
        <ul>
            <ol>Add/Edit/Delete Records:</ol>
        </ul>
        <ul>
            <li><a href='/go_to_homepage#Tables'>Tables</a></li>
        </ul>
    </div>
    <!-- /sidebar -->

    <div class="container">
        <div class="register_page">
            <p>Fill in following information to create an account:</p>
            <form action="/add_user" method="post">
                <pre><input type="text" name='item_username' placeholder="Username"></pre>
                <pre><input type="text" name='item_password' placeholder="Password"></pre>    
                <pre><input type="text" name="item_password_confirm" placeholder="Confirm Password">  <input type="submit" value="Create Account" class='create_submit'></pre>    
            </form>
        </div>
    </div>
