<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static',filename='styles/styles.css')}}>
    <title>Contents_Thigh</title>
</head>


<body>
    <table style="width:100%">
        <tr>
            <th>Date:</th>
            <th>Thigh:</th>
            <th>Delete?</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>
            <form action="/delete_thigh" method="post">
            <input type="hidden" name="item_name" value="{{item[0]}}">
            <input type="submit" value="delete">
            </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="/add_thigh" method="post">
    <h2>Enter new circumference</h2>
    <input type="text" name='item_thigh'>
    <input type="submit" value="add">
    </form>
    <form action="go_to_homepage" method="post">
    <input type="submit" value="Back to Homepage">
    </form>
</body>

</html>