table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid #554f4f;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #a4bdff;
}

tr:nth-child(odd) {
  background-color: #8ed1fd;
}

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Rockwell';
  scroll-behavior: smooth;
}

#sidebar {
  position:fixed;
  width:220px;
  height:100%;
  background:rgb(35, 209, 171);
}

#sidebar ul li {
  color:rgb(239, 248, 230);
  list-style:none;
  padding:15px 30px;
  border-bottom:1px solid rgba(100,100,100,0.3);

}
#sidebar ul ol {
  color:rgb(50, 51, 49);
  list-style:none;
  padding:15px 15px;
  border-bottom:1px solid rgba(100,100,100,0.3);
}
#sidebar ul li a {
  color: #fdfcfc;
  display: block;
}

#sidebar ul li:hover{
  background: rgb(101, 230, 202);
}

.logo img {
  position: absolute;
  right: 60px;
  width: 100px;
  height: 100px;
}

#sidebar ul li a img{
  top: 0px;
}

.imgoverlay {
  position: absolute;
  right: 0px;
  top:0;
  width: 100px;
  height: 100px;
  opacity:0;
}
#sidebar ul li a:hover .imgoverlay{
  opacity: 1;
}


body
{
  font-family: arial, sans-serif;
  overflow-y: scroll;
  line-height: 1.6;
  height: 100vh;
}

#image{
  width: fit-content;
  position: fixed;
  margin-left: 220px;
  z-index: -1;
}

#image img{
  width: 100%;
}

.Device {
  bottom: 50%;
  right: 50%;
}

.container_100vh{
  width: 100%;
  padding-left: 220px;
  padding-top: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container{
  width: 100%;
  height: 100%;
  padding-left: 220px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

.child {
  scroll-snap-align: start;
}

.containerTables{
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
}


section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

section#MeasurementDevice {
  background: rgb(0, 255, 200);
  z-index: 2;
}

section#BodyAverage {
  background: #05dade;
  z-index: 2;
}

section#Categories {
  background: rgb(0, 255, 200);
  z-index: 2;
}

section#Tables {
  background: rgb(45, 184, 154);
  z-index: 2;
}

.backgroundcolour {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  margin: auto;
  border-right: 2000px solid rgb(141, 228, 255);
  border-bottom: 1000px solid rgb(141, 228, 255);
  top: 0px;
  z-index: -2;
}

/* animated arrow */

.hide-when_hover_over{
  content: '';
  width: 70px;
  height: 70px;
  position: relative;
  margin: auto;
  top: 150px;
  bottom: 0;
  border-right: 6px solid rgb(35, 209, 171);
  border-bottom: 6px solid rgb(35, 209, 171);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 2s arrow ease infinite;
  animation: 2s arrow ease infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  /* position: fixed; */
  z-index: 1;
}

.hide-when_hover_over:hover{
  position: relative;
  margin: auto;
  content: '';
  width: 90px;
  height: 90px;
  top: 190px;
  bottom: 0;
  border-right: 8px solid rgb(143, 255, 231);
  border-bottom: 8px solid rgb(143, 255, 231);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 0.5s arrow_hover ease;
  animation: 0.5s arrow_hover ease;
  /* position: fixed; */
  z-index: 1;
}

p a{
  border-radius: 0 0 1px 1px ;
  border-right: solid 90px transparent;
  border-bottom: solid 70px transparent;
}

@-webkit-keyframes arrow {
  0%, 40% {
    top: 150px;
  }
  20%{
    top: 190px;
  }
}

@keyframes arrow {
  0%, 40% {
    top: 150px;
  }
  20% {
    top: 190px;
  }
}


@-webkit-keyframes arrow_hover {
  100% {
    top: 150px;
  }
  0% {
    top: 190px
  }
}

@keyframes arrow_hover {
  100% {
    top: 190px;
  }
  0% {
    top: 150px
  }
}


.DropChart {
  background:rgb(35, 125, 209);
  display: block;
}

.DropChart ul {
  color: #fff;
}

.DropChart ul li.a {
  display: inline-flex;
  list-style: none;
  width: 24.75%;
  color: #fff;
  padding: 20px 20px;
  font-size: 38.5px;
  border-right:1px solid rgba(0, 0, 0, 0.589);
  text-align: center;
}

.DropChart ul li.b {
  display: inline-flex;
  list-style: none;
  width: 24.75%;
  color: #fff;
  padding: 20px 20px;
  font-size: 38.5px;
  border-right:1px solid rgba(0, 0, 0, 0.589);
  border-left: 1px solid rgba(0, 0, 0, 0.589);
  text-align: center;
}

.DropChart ul li.c {
  display: inline-flex;
  list-style: none;
  width: 24.75%;
  color: #fff;
  padding: 20px 20px;
  font-size: 38.5px;
  border-right:1px solid rgba(0, 0, 0, 0.589);
  border-left: 1px solid rgba(0, 0, 0, 0.589);
  text-align: center;
}

.DropChart ul li.d {
  display: inline-flex;
  list-style: none;
  width: 24.75%;
  color: #fff;
  padding: 20px 20px;
  font-size: 38.5px;
  border-left: 1px solid rgba(0, 0, 0, 0.589);
}

.DropChart ul li:hover {
  background: rgb(53, 215, 255);
}

.DropChart ul li a {
  color: rgb(204, 235, 255);
}

.DropChart ul li:hover {
  color: #ceffe4;
}

.DropChart ul li:active {
  color: rgb(31, 32, 87)
}


.chartdrop {
  display: none;
  height: 100%;
}

.chartdrop.show {
  display: block;

}

.flashes {
  top: 30px;
  right: 30px;
  left: 250px;
  font-size: 50px;
  padding: 10px;
  list-style: none;
  position: absolute;
  z-index: 11;
  background-color: #de5505;
  border-radius: 7px;
}

.child ul li a:hover{
  color: #de5505;
  background-color: #109e8b;
}

.child ul li a{
  color: #109e8b;
  background-color: #de5505;
  padding: 4px;
  border-radius: 7px;
}

.login{
  color: aqua;
  top: 10px;
  right: 10px;
  margin: 2px;
  font-size: 20px;
  position: absolute;
  position: fixed;
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 7px;
}

.button:hover{
  background-color: #57f171;

}

.login_page{
  background-color: rgb(157, 204, 95);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  padding: 15px 32px;
  top: 500px;
  display: inline-block;
  border: none;
  text-align: center;
}

.register_page{
  background-color: rgb(157, 204, 95);
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 30px;
  padding: 15px 32px;
  display: inline-block;
  border: none;
  text-align: center;
}

.login_page a{
  color: white;
  background-color: #4CAF50;
  padding: 4px;
  border-radius: 7px;
}

.login_page a:hover{
  background-color: #57f171;
}

.register_page p{
  text-align: left;
  font-size: 40px;
}

.register_page pre{
  text-align: left;
}

.register_page pre input{
  width: 20%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}

.create_submit{
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 7px;
  font-size: 20px;
}



.create_submit:hover{
  background-color: #57f171;

}